/*
== option頁面CSS ==

*/

#lang_desc {
    font-weight: bold;
    color: blue;
}

#toolbar {
    text-align: right;
}

#info-block {
    float: right;
}

button#clear_all, input#export, input#import, input#import_file {
    padding: 3px;
}

.opt_btn {
    padding:3px;
}

#save {
    color: red; 
    display: none;
    text-align: left;
}

#dl_list { float:left; display:block; min-width:1000px; }
#dl_list ul li { height:120px; list-style-type: none; padding:4px; }

#opt_lang, 
#opt_gen, 
#about_nicoDLM { 
    text-align: left;
}

#opt_gen > div > div { width: 220px; height:20px; padding-top:6px; float:left; }

div.dl-status-0,
div.dl-status-1,
div.dl-status-2,
div.dl-status-3, 
div.dl-status-4, 
div.dl-status-403, 
div.dl-status-404 {
    width: 100px;
    height: 40px;
    padding: 10px 0 0 60px;
}

div.dl-status-0,
div.dl-status-4 {
    background: url(/images/wait.gif) no-repeat;
}


div.dl-status-1 {
    background: url(/images/complete.png) no-repeat;
}


div.dl-status-2, div.dl-status-403, div.dl-status-404 {
    background: url(/images/cancel.png) no-repeat;
}

div.dl-status-3 {
    background: url(/images/download.png) no-repeat;
}


/* ul > li > div */
div.outer_div { height:120px; position:relative; }

div.inner_div1 { float:left; width:312px; height:114px; padding:3px; position:relative; border-right:solid 1px #ccc; }
  img.thumbImage { position:absolute; top:10px; }
  div.playCount { position:absolute; width:175px; height:24px; top:25px; left:140px; }
  div.commentCount { position:absolute; width:175px; height:24px; top:50px; left:140px; }
  div.mylistCount { position:absolute; width:175px; height:24px; top:75px; left:140px; }
    div.inner_div1 > div > span { position:absolute; right:5px; top:0; }
  
div.inner_div2 { float:left; width:504px; height:114px; padding:3px; position:relative; overflow:hidden; }
  div.videoTitle { font-size:20px; padding-bottom:10px; font-weight:bold; }
div.inner_div3 { float:left; width:140px; height:114px; padding:3px; position:relative; overflow:hidden; }
  div.editMenu { height: 36px; position: relative; display:none; }
  img.delete { position:absolute; bottom:0; right:0; cursor:pointer; }
  img.edit { position:absolute; bottom:0; right:25px; cursor:pointer; }
  img.redownload { position:absolute; bottom:0; right:50px; cursor:pointer; }
  
/* edit_window */  
#edit_window {
    position: fixed;
    width: 650px;
    min-height: 10px;
    background-color: #F6F6F6;
    top: 20%;
    left: 15%;
    border: solid 2px #AAA;
    z-index: 10;
    display: none;
    padding-bottom: 10px;
    
    /* Rounded Corners */
    border-radius: 17px; 
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    
    /* Shadows */
    box-shadow: 10px 10px 5px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3); 
    -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    -moz-box-shadow: 10px 10px 5px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
}

#edit_window input, #edit_window textarea {
    padding: 2px;
    width: 525px;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 0px 0px 3px 0px;
    border: 2px solid #ccc;
}

#edit_window textarea {
    height: 200px;
}

#edit_window textarea:focus, #edit_window input:focus {
    border: 2px solid #900;
}

#edit_window input.submit-button {
    width: 100px;
    float: right;
    margin-right:10px;
    cursor: pointer;
}

label {
    float: left;
    text-align: left;
    margin-left: 8px;
    width: 90px;
    padding-top: 6px;
    font-size: 1.1em;
}

#close_edit_window { text-align:right; margin-bottom:8px; }
#close_edit_btn { cursor:pointer; }
/* END edit_window */





span#export_link {
    width: 50px;
    height: 20px;
}

#clog_title {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}


#dl_quality_action {
    margin-top: 4px;
}